<div class="container">
  <div class="main-border p-5 mt-5">
    <h1>Team Generator</h1>
    <ul class="list-group mb-3 main-border p-3">
      <li class="list-group-item">Joe Bloggs</li>
      <li class="list-group-item">James Bond</li>
      <li class="list-group-item">Brice Wayne</li>
    </ul>

    <hr />
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        placeholder="Name"
        aria-describedby="inputGroup-sizing-default"
      />
      <button class="btn btn-primary">Add</button>
    </div>

    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        aria-label="Default"
        placeholder="Number of teams"
        aria-describedby="inputGroup-sizing-default"
      />
      <button class="btn btn-primary">Generate</button>
    </div>
  </div>
</div>
